.a{
    padding-top: 14px;
    width: 100%;
    height: 50px;
    background-color: rgb(205, 200, 200);
    margin-bottom: 14px;
    text-align: end;
    padding-right: 14px;
}

.b{
    padding-left: 10px;
    padding-right: 10px;
}