<app-navbar></app-navbar>

<div class="container">

    <div class="main-header">Submit Tax Filling</div>

    <div class="stepper-wrapper">
        <div class="stepper-item completed">
          <div class="step-counter">1</div>
          <div class="step-name">Input-Detail</div>
        </div>
        <div class="stepper-item active">
          <div class="step-counter">2</div>
          <div class="step-name">Review & Confirm</div>
        </div>
      </div>


        <div class="card">
            <div class="function-title ">Tax Filling Detail</div>
          <div class="titleline"></div>
          <div class="function-title-normal ">
            <div class="row">
                <div class="col-sm-2 mt-2">
                <div>Type of Filling </div>
                </div>
                <div class="col-sm-2 mt-2">              
                    {{ one.typeFilling }}
                </div> 
            </div>
                <div class="row">
                    <div class="col-sm-2 mt-2">
                    <div>Vat Month </div>
                    </div>
                    <div class="col-sm-2 mt-2">              
                        <div> {{ one.month }}  {{ one.year }} </div>
                    </div>
                </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="function-title ">Tax Computation </div>
            </div>
            </div>
            <div class="titleline"></div>

        
            <div class="function-title-normal">
                <div class="row">
                    <div class="col-sm-7">
                    <div>Total value of taxable electronic service exclusive of Vat </div>
                    </div>
                    <div class="col-sm-5">              
                        <div class="form-group">
                            <div> {{ one.money }} <span class="space">THB</span></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="function-title-normal">
                <div class="row">
                    <div class="col-sm-7">
                    <div>Total Vat to be remitted </div>
                    <span class="span-size">(7% of Total value of taxable electronic service exclusive of VAT)</span>
                    </div>
                    <div class="col-sm-5">              
                        <div class="form-group">
                            <div> {{ one.tax }} <span class="space">THB</span></div>
                        </div>
                    </div>
                </div>
            </div>

        <div *ngIf=" one.typeFilling == 'Ordinary Filling' ">
            <div class="function-title-normal">
                <div class="row">
                    <div class="col-sm-7">
                    <div>Total Amount Payable </div>                    
                    </div>
                    <div class="col-sm-5">              
                        <div class="form-group">
                            
                                <div>{{ one.tax + one.surchange + one.penalty - 200 }}  <span class="space">THB</span></div> 
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
            

            <div *ngIf=" one.typeFilling == 'Additional Filling' ">
                <div class="function-title-normal">
                    <div class="row">
                        <div class="col-sm-7">
                        <div>Total Amount Payable </div>                    
                        </div>
                        <div class="col-sm-5">              
                            <div class="form-group">
                                
                                    <div>{{ one.tax + one.surchange + one.penalty }}  <span class="space">THB</span></div> 
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
            
            <div class="function-title ">Declaration</div>
            <div class="titleline"></div>
            <div class="function-title-normal ">
                <div class="mt-2 mb-4">I hereby certify that information give above are true and correct and agree to be bound by such information.</div>
            </div>

        </div>

        <div class="container">
            <div class="button-align">
            <button type="button" class="btn btn btn-dark m-4 " mat-button (click)="openModal(template)">Confirm & Submit</button>
            </div>
        </div>
        


</div>

<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Confirm & Submit</h4>
      <button type="button" class="close btn-close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      TaxData : 
      <pre>{{ one | json }}</pre>
    </div>
  </ng-template>