<app-navbar></app-navbar>

<div class="container">

    <div class="main-header">Submit Tax Filling</div>

    <div class="stepper-wrapper">
        <div class="stepper-item completed">
          <div class="step-counter">1</div>
          <div class="step-name">Input-Detail</div>
        </div>
        <div class="stepper-item active">
          <div class="step-counter">2</div>
          <div class="step-name">Review & Confirm</div>
        </div>
      </div>

      <form>
        <div class="card">
            <div class="function-title ">Tax Filling Detail</div>
          <div class="titleline"></div>
          <div class="function-title-normal ">
            <div class="row">
                <div class="col-sm-2 mt-2">
                <div>Type of Filling </div>
                </div>
                <div class="col-sm-2 mt-2">              
                    -
                </div> 
            </div>
                <div class="row">
                    <div class="col-sm-2 mt-2">
                    <div>Vat Month </div>
                    </div>
                    <div class="col-sm-2 mt-2">              
                        <div>  - </div>
                    </div>
                </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="function-title ">Tax Computation </div>
            </div>
            </div>
            <div class="titleline"></div>

            <div class="function-title-normal">
                <div class="row">
                    <div class="col-sm-7">
                    <div>Total value of taxable electronic service exclusive of Vat </div>
                    </div>
                    <div class="col-sm-5">              
                        <div class="form-group">
                            <div> 0.00 THB </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="function-title-normal">
                <div class="row">
                    <div class="col-sm-7">
                    <div>Total Vat to be remitted </div>
                    <span class="span-size">(7% of Total value of taxable electronic service exclusive of VAT)</span>
                    </div>
                    <div class="col-sm-5">              
                        <div class="form-group">
                            <div> 0.00 THB </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="function-title-normal">
                <div class="row">
                    <div class="col-sm-7">
                    <div>Total Amount Payable </div>                    
                    </div>
                    <div class="col-sm-5">              
                        <div class="form-group">
                            <div> 0.00 THB </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="function-title ">Declaration</div>
            <div class="titleline"></div>
            <div class="function-title-normal ">
                <div class="mt-2 mb-4">I hereby certify that information give above are true and correct and agree to be bound by such information.</div>
            </div>

        </div>

        <div class="container">
            <div class="button-align">
            <button type="button" class="btn btn btn-dark m-4 " mat-button >Next</button>
            </div>
        </div>
      </form>



</div>
