<app-navbar></app-navbar>
<div class="container" >
  
    <div class="main-header">Submit Tax Filling</div>

    <div class="stepper-wrapper">
        <div class="stepper-item active">
          <div class="step-counter">1</div>
          <div class="step-name">Input-Detail</div>
        </div>
        <div class="stepper-item">
          <div class="step-counter-incomplete">2</div>
          <div class="step-name">Review & Confirm</div>
        </div>
      </div>
  
    <div class="card">
        
        
          <div class="function-title "> 1. Tax Filling Detail</div>
          <div class="titleline"></div>

          <div class="function-title-sub">
            <app-filling-type (selectRadioEmitter)="getselect($event)"></app-filling-type> 
          </div>
               

            <div  *ngIf="radioValue === '0'">

              <div class="function-title-sub">
                <div class="row">
                  <div class="col-sm-3">
                    <app-month ></app-month>
                  </div>
                  <div class="col-sm-3">
                    <app-year ></app-year>
                  </div>             
                </div>
              </div>

            </div>

            <div  *ngIf="radioValue === '1'">

              <div class="function-title-sub">
                <div class="row">
                  <div class="col-sm-3">
                    <app-month ></app-month>
                  </div>
                  <div class="col-sm-3">
                    <app-year ></app-year>
                  </div>
                  <div class="col-sm-3">
                    <app-typefill></app-typefill>
                  </div>     
                </div>
              </div>
              
            </div>
           
            <div class="row">
              <div class="col-sm-4">
                <div class="function-title ">2. Tax Computation </div>
              </div>
              <div class="col-sm-4"></div>
              <div class="col-sm-4">              
                  <div class="titleEnd"> View Exchange Rate</div>
              </div>
              </div>
                  <div class="titleline"></div>

            <div  *ngIf="radioValue === '0' ">
                <div class="sub-title">Provide total value taxable electronic service <span style="color: red;"> * </span>  </div>

                
                  <app-sale-amount (salevalueEmitter)="saleAmount($event)" ></app-sale-amount>
                  
                  <app-tax-amount [saleValueResult]="saleTotax(saleValueResult)" (taxValueEmitter)="getTaxValue($event)"></app-tax-amount>

                  <input type="hidden" [value]="taxValue">

                  <div class="mt-4 mb-4"></div>
                </div>

                <div  *ngIf="radioValue === '1'">
                  <div class="sub-title">Provide total value taxable electronic service <span style="color: red;"> * </span>  </div>
                  
                  <app-sale-amount (salevalueEmitter)="saleAmount($event)" ></app-sale-amount>
                  
                  <app-tax-amount [saleValueResult]="saleTotax(saleValueResult)" (taxValueEmitter)="getTaxValue($event)"></app-tax-amount> 

                  

                  <div class="sub-title">in case of late filling and payment, or additional filling </div>

                  <app-surcharge [taxValueResult]="taxToSurcharge(taxValue)" (surChargeEmitter)="getSurcharge($event)"></app-surcharge>
                  <app-penalty ></app-penalty>
                  <app-total-amount ></app-total-amount>


                </div>
                  </div>
    <div  *ngIf="radioValue === '0' ">
    <div class="container-fluid p-3">
      <div class="container btn-footer">
        <button type="button" class="btn btn-light "  mat-button  >Back</button>
        <button type="button" class="btn btn btn-dark m-4 " mat-button routerLink="review">Next</button>
      </div>
    </div>
    </div>

    <div  *ngIf="radioValue === '1' ">
      <div class="container-fluid p-3">
        <div class="container btn-footer">
          <button type="button" class="btn btn-light "  mat-button  >Back</button>
          <button type="button" class="btn btn btn-dark m-4 " mat-button routerLink="review">Next</button>
        </div>
      </div>
    </div>

</div>