<div class="function-title">
    <div class="row mt-2">
            <div class="col-sm-8 mt-1">
                <div> 2. Total Vat to be remitted (7% of 1.) </div>
            </div>
            <div class="col-sm-4">              
            <div class="form-group">
                <input type="number" class="form-control placeholder-text" placeholder="THB" [value]=" saleValueResult" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.00" (click)="taxValue($event)"  >
            </div>
        </div>
    </div>
</div>

