.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

.function-title{
    text-align: left;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 20px;
    width: 100%;
    height: 100%;
    
}

.function-title-sub{
    text-align: left;
    padding-top: 10px;
    padding-bottom: 20px;
    width: 100%;
    height: 100%;
    
}

.section-detail{
    text-align: left;
    padding-bottom: 20px;
}

